.panel
{
    #padding-top:24px;
    #background:url('Images/panelbackground.gif') no-repeat top center;
    border:dashed 1px #c0c0c0;
    min-height:24px;
}

.Layout
{
   position:relative;
}

.Layout .LayoutHeader
{
   display:none;
}

.Layout:hover .LayoutHeader
{
    position:absolute;
    z-index:5000; top:-20px;
    background:#EDEDED;
    line-height:20px;
    height:20px;
    width:100%; display:block;
    
}

.Layout .LayoutHeader .closebutton
{
    width:18px;
    height:18px;
    float:right; margin-right:4px; margin-top:1px;
    background: url(Images/closebutton.png) no-repeat 0px top;
}

.Layout .LayoutHeader .closebutton:hover
{
    background: url(Images/closebutton.png) no-repeat -18px top;
}

.zone
{
   border: dashed 1px #c0c0c0;
   min-height:40px;
}
.PageControl 
{
 min-height:16px;
 #position:relatvive;
}
.PageControl .pagecontrolheader
{
   #display:none;
}


.PageControl .pagecontrolheader
{
    background:#EDEDED;
    height:24px; line-height:24px;
    width:100%; 
    #position:absolute;
    #display:block;
    #z-index:5000;
    #bottom:-24px;
}




.PageControl .pagecontrolheader .closebutton
{
    width:18px;
    height:18px;
    float:right; margin-right:4px; margin-top:1px;
    background: url(Images/closebutton.png) no-repeat 0px top;


}

.PageControl .pagecontrolheader .css{

    width:18px;
    height:18px;
    float:right; margin-right:4px; margin-top:1px;
    background: url(Images/theme.png) no-repeat 0px top;
}
.PageControl .pagecontrolheader .configbutton
{
    width:18px;
    height:18px;
    float:right; margin-right:4px; margin-top:1px;
    background: url(Images/configbutton.png) no-repeat center center;
}

.placeHolder
{
    border:solid 1px #E5C365;
    height:48px;
    background-color:#FFFAEA;
    visibility:visible!important;
}

.LayoutContainer .placeHolder, .ModuleContainer .placeHolder
{
    display:none;
}

.resizeHelper
{
    border: dashed 1px blue;
	background:#fcf4ac;
	opacity:0.7;
	position:relative;
	text-align:center;
	padding:0px; margin:0px;
}

.sizeTip {font: bold 12pt Arial; margin-top:10px; display:inline-block;}